* {
    margin: 0%;
    padding: 0%;
}

body {
    background: #000;
}

.galeria {
    width: 100%;
}

.galeria img {
    vertical-align: top;
    position: relative;
    width: 300px;
    margin: 15px;
    border: 1px solid #484848;
    padding: 3px;
    opacity: 0.4;
}

.galeria img:hover {
    opacity: 1;
    border: 1px solid #fff;
}